@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-size: unset; */
    font-weight: unset;
    @apply font-inter
  }
  h1{
    font-size:3rem
  }
  h2{
    font-size:2.25rem
  }
  h3{
    font-size:2rem
  }
  h4{
    font-size:1.75rem
  }
  h5{
    font-size:1.25rem
  }
  h6{
    font-size:1.125rem
  }
  :root {
    
    --background: 47, 98%, 51%;
    --foreground: 0, 0%, 16%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground min-h-[100vh] flex flex-col font-funnel-sans;
    }
    container {
        @apply max-w-[1680px]
    }
    /* Single Post Template */
    .post .container{
        @apply text-tertiary-white
    }
    .post .container h1,
    .post .container h2,
    .post .container h3,
    .post .container h4,
    .post .container h5,
    .post .container h6,
    .post .container a{
        @apply text-primary-yellow
    }
    .post .container .card .categories a{
        @apply text-tertiary-white
    }
    .post .banner > div{
        @apply bg-primary-dark-gray border-0 rounded-none
    }
    .post img{
        @apply rounded-none border-0
    }
    .parallax-background > div {
        height:inherit,

    }
    .parallax-background > div {
        @apply col-start-1 row-start-1
    }
    .post .payload-richtext.prose strong,
    .post .payload-richtext .prose strong,
    .post .payload-richtext.prose em,
    .post .payload-richtext .prose em{
        @apply text-primary-yellow
    }

}
@layer components{
    /* Header Component */
    .ynna-dev-header{
        @apply bg-foreground text-primary-yellow
    }
    .ynna-dev-header .header-content a{
        @apply uppercase font-inter text-2xl font-bold
    }
    .ynna-dev-header .header-content a:not(:last-child){
        @apply lg:mr-10
    }
    /* Section Block */
    .section-block{
        @apply my-16  
    }
    .section-block > .container{
        @apply grid grid-cols-4 lg:grid-cols-12 gap-y-8
    }
    /* Section Media Block */
    .section-block .section-media-block div{
        @apply col-span-12
    }
    /* Skills Tile for both Tile Block and Layout Block */
    .skills-tile-container{
        @apply aspect-square cursor-pointer
    }
    .skills-tile-container .skills-tile,
    .skills-tile-container .skills-tile picture,
    .skills-tile-container .skills-tile img{
        @apply w-full h-full
    }
    .skills-tile-container .skills-tile picture{
        @apply block
    }
    .skills-tile-container .skills-tile > div{
        @apply h-full
    }
    .skills-tile-container .skills-tile img{
        @apply lg:p-4 p-1 object-contain
    }
    .skills-tile-block,
    .skills-layout-block .skills-layout-set{
        @apply grid grid-cols-4 gap-10
    }
    .skills-tile-container{
        @apply  bg-primary-dark-gray hover:bg-[#737373]
    }
    /* Skills Tile Block */
    .skills-tile-block-container .skills-tile-block .skills-tile-container{
        @apply  bg-primary-yellow-mid hover:bg-primary-yellow-light 
    }
    
    /* Skills Layout Block */
    .skills-layout-block-container{
        @apply bg-primary-dark p-12
    }
    .skills-layout-block-container h2{
        @apply font-bold text-4xl text-primary-yellow text-center mb-4
    }
    .skills-layout-block-container .skills-layout-search{
        @apply bg-tertiary-white border-0
    }
    .skills-layout-block-container .skills-layout-search-and-filter-container{
        @apply grid grid-cols-12 gap-2 mb-5
    }
    .skills-layout-block-container .skills-layout-input-container{
        @apply grid grid-cols-12 lg:col-span-3 col-span-11
    }
    .skills-layout-block-container .skills-layout-input-container .skills-layout-search{
        @apply col-start-1 col-end-13 row-start-1
    }
    .skills-layout-block-container .skills-layout-input-container .skills-layout-search-icon{
        @apply col-start-12 col-end-12 row-start-1 z-10 grid items-center justify-end pr-3
    }
    .skills-layout-block-container .skills-layout-search-and-filter-container .filter-icon{
        @apply border-0 rounded-none aspect-square
    }
    .skills-layout-block-container .skills-layout-search-and-filter-container .filter-icon svg{
        @apply fill-primary-dark
    }
    .skills-layout-block-container .skills-heading h3{
        @apply text-primary-yellow text-2xl font-bold
    }
    .skills-layout-block-container .skills-set{
        @apply grid lg:grid-cols-2 lg:grid-flow-row lg:gap-10 grid-cols-1 
    }
    .skills-layout-block-container .skills-category{
        @apply mb-4
    }
    .skills-layout-block-container .skills-heading{
        @apply mb-2
    }
    /* Call to Action Buttons Block */
    .call-to-action-btns-block-container {
        @apply py-12 px-8 my-16
    }
    .call-to-action-btns-block-container .container{
        @apply grid grid-cols-[1fr_4fr_1fr] 
    }
    .call-to-action-btns-block-container .container > div{
        @apply grid justify-center
    }
    .call-to-action-btns-block-container .call-to-action-btns-text{
        @apply row-start-1 col-start-2
    }
    .call-to-action-btns-block-container .call-to-action-btns-buttons{
        @apply row-start-2 col-start-2 mt-8 grid grid-cols-[1fr_2fr_1fr]
    }
    .call-to-action-btns-block-container .call-to-action-btns-buttons a {
        @apply my-1 col-start-2
    }
}
@layer utilities{
    /* Buttons */
    .button{
        @apply rounded-none border-2 
    }
    .primary-button{
        @apply text-primary-dark bg-primary-yellow border-primary-yellow hover:bg-primary-yellow-light hover:border-primary-yellow-light
    }
    .secondary-button{
        @apply text-primary-yellow border-primary-yellow hover:border-primary-yellow-light hover:text-primary-yellow-light
    }
    .bg-dynamic {
        background-color: var(--dynamic-overlay);
    }
    .dynamic-pic-height {
        max-height: var(--dynamic-theme-pic-height);
    }
    .dynamic-img-height {
        max-height: var(--dynamic-theme-img-height);
    }
    /* ------Start of Home Page-------- */
    .home{
        @apply pb-0
    }
    /*  Hero Section */
    .home .hero-section.section-block{
        @apply my-0 pb-16
    }
    .home .hero-section .container .hero-text{
        @apply h-full grid items-center justify-center text-center py-12 lg:py-0 lg:justify-start lg:text-left 
    }
    .home .hero-section .container .hero-text .rich-text-block-container{
        @apply lg:bg-[#fdc708c2]
    }
    .home .hero-section .hero-text .payload-richtext h1{
        @apply font-bold
    }
    .home .hero-section .hero-text .payload-richtext h5{
        @apply font-bold
    }
    .home .hero-news-block.posts-collection-latest-block {
        @apply grid grid-cols-5
    }
    .home .hero-news-block .posts-heading{
        @apply bg-primary-dark font-bold uppercase text-primary-yellow col-start-1 justify-center grid text-[1.75rem]
    }
    .home .hero-news-block .posts-collection-container{
        @apply row-start-2 col-start-1 col-end-6 bg-primary-dark p-5
    }
    .home .hero-news-block .posts-collection-container .posts-collection-inner-container{
        @apply bg-primary-dark border-[5px] border-primary-yellow h-[36rem] max-h-[36rem] overflow-y-scroll
    }
    .home .hero-news-block .posts-collection-container .post{
        @apply bg-primary-yellow m-2 p-4
    }
    .home .hero-news-block .posts-collection-container .post-title{
        @apply text-[1.75rem] font-bold
    }
    .home .hero-news-block .post-meta-container{
        @apply grid grid-cols-4
    }
    .home .hero-news-block .post-date{
        @apply col-span-3
    }
    .home .hero-news-block .post-origin-link{
        @apply col-start-4
    }
    /* About  */
    .home .about-me-section.section-block{
        @apply bg-primary-dark py-8 mt-0
    }
    .home .about-me-section.section-block .container{
        @apply mx-0 px-0 max-w-full
    }
    .home .about-me-section .container .about-me-text{
        @apply bg-primary-yellow p-16 lg:pl-36 grid
    }
    .home .about-me-section .container .about-me-text .rich-text-block{
        @apply place-self-center
    }

    .home .about-me-section .container .about-me-text .rich-text-block-container{
        @apply place-self-center
    }
    .home .about-me-section .container .skills-cloud-set-column canvas{
        @apply w-full py-8 pl-16 pr-36 
    }
    /* Portfolio Section */
    .home .portfolio-section.section-block .container{
        @apply mx-0 px-0 max-w-full
    }
    .home .portfolio-section .carousel-block .carousel-item{
        @apply max-w-7xl
    }
    .home .portfolio-section .carousel-block .document-container{
        @apply bg-primary-dark grid justify-center py-6 px-2
    }
    .home .portfolio-section .carousel-block .document-text-container{
        @apply py-4 px-3
    }
    .home .portfolio-section .carousel-block .document-text-container div{
        @apply text-center
    }
    .home .portfolio-section .carousel-block .document-title{
        @apply text-primary-yellow font-bold text-3xl text-center
    }
    .home .portfolio-section .carousel-block .document-excerpt{
        @apply text-tertiary-white text-center
    }
    .home .portfolio-section .carousel-block .document-read-more-link a{
        @apply text-primary-yellow text-center
    }
    .home .portfolio-section .carousel-block .carousel-button{
        @apply my-0 mx-16 bg-primary-dark hover:bg-primary-dark-gray text-tertiary-white rounded-lg h-12
    }
    .home .portfolio-section .carousel-block .carousel-button-previous{
        @apply left-0
    }
    .home .portfolio-section .carousel-block .carousel-button-next{
        @apply right-0
    }
    .home .portfolio-section .check-out-more-button .rich-text-block{
        @apply text-center
    }
    .home .portfolio-section .check-out-more-button .rich-text-block a{
        @apply bg-primary-dark text-primary-yellow uppercase hover:bg-primary-dark-gray py-3 px-8 rounded-lg no-underline
    }
    /* Contact Me Section */
    .home .contact-me-section.section-block{
        @apply mb-0 pb-16
    }
    /* Form Block  */
    .home .contact-me-section.section-block .container,
    .contact-me .contact-me-section.section-block .container{
        @apply mx-0 px-0 max-w-full
    }
    .home .contact-me-section .contact-me-form-column .form-block-container,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container{ 
        @apply bg-primary-dark
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block{
        @apply lg:max-w-[60rem]
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block > div,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block > div{
        @apply border-0
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block form,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block form{
        @apply grid
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block input,
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block textarea,
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block select,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block input,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block textarea,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block select{
        @apply bg-primary-dark text-primary-yellow
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block label,
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block label{
        @apply text-primary-yellow
    }
    .home .contact-me-section .contact-me-form-column .form-block-container .form-block button[type="submit"],
    .contact-me .contact-me-section .contact-me-form-column .form-block-container .form-block button[type="submit"]{
        @apply ml-auto bg-primary-yellow text-primary-dark uppercase hover:bg-primary-yellow-mid 
    }
    /* Social Media */
    .home .contact-me-section .social-media-block-column .social-media-block .social-media-block-title,
    .contact-me .contact-me-section .social-media-block-column .social-media-block .social-media-block-title{
        @apply font-bold text-center
    }
    .home .contact-me-section .social-media-block-column .social-media-block  .social-media-tile-container,
    .contact-me .contact-me-section .social-media-block-column .social-media-block  .social-media-tile-container{
        @apply grid items-center justify-items-center p-2
    }
    .home .contact-me-section .social-media-block-column .social-media-block .social-media-external-link,
    .contact-me .contact-me-section .social-media-block-column .social-media-block .social-media-external-link{
        @apply grid w-[6rem] h-[6rem]
    }
    .home .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container,
    .contact-me .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container{
        @apply bg-secondary-blue grid items-center justify-items-center hover:bg-[#474976]
    }
    .home .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container svg,
    .contact-me .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container svg{
        @apply h-16 w-16
    }
    .home .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container svg *,
    .contact-me .contact-me-section .social-media-block-column .social-media-block .social-media-external-link .svg-container svg *{
        @apply stroke-tertiary-white 
    }
    /* ------End of Home Page-------- */
    /* ------Start of About Me Page-------- */
    .about-me .about-me-section.section-block{
        @apply bg-primary-dark py-8
    }
    .about-me .latest-experience.section-block .container{
        @apply mx-0 px-0 max-w-full
    }
    .about-me .latest-experience.section-block .container .latest-experience-text-column{
        @apply text-primary-yellow bg-primary-dark lg:py-12 lg:pl-12 lg:pr-32 p-12
    }
    .about-me .latest-experience.section-block .container .tech-stack-column{
        @apply py-12 px-12
    }
    .about-me .latest-experience.section-block .container .tech-stack-column h2{
        @apply text-4xl
    }
    .about-me .latest-experience.section-block .container .latest-experience-text-column h2{
        @apply text-4xl
    }
    .about-me .latest-experience.section-block .container .latest-experience-text-column h3{
        @apply text-2xl font-bold
    }
    .about-me .latest-experience.section-block .container .latest-experience-text-column a{
        @apply text-primary-yellow
    }
    .about-me .latest-experience.section-block .container .latest-experience-text-column .single-document-block-container{
        @apply mt-4
    }
    .about-me .about-me-section.section-block .about-me-text-column{
        @apply bg-primary-yellow py-20 px-16 grid items-center lg:col-start-1 lg:col-end-9 lg:z-10 lg:row-start-2 lg:row-end-3
    }
    .about-me .about-me-section.section-block .about-me-text-column h1{
        @apply font-bold text-4xl
    }
    .about-me .about-me-section.section-block .about-me-image-column{
        @apply grid items-center col-start-8 col-end-13 row-start-1 row-end-4
    }
    .about-me .latest-experience .tech-stack-column .tech-stack-heading.rich-text-block h2{
        @apply text-center mb-7
    }
    .about-me .call-to-action-btns-block-container{
        @apply bg-primary-dark text-tertiary-white
    }
    .about-me .call-to-action-btns-block-container h2{
        @apply text-primary-yellow
    }
    /* ------End of About Me Page-------- */
    /* ------Start of Contact Me Page-------- */
    body header.ynna-dev-header+article.contact-me{
        @apply py-0 my-0 
    }
    .contact-me-section.section-block{
        @apply my-0 py-20
    }
    .contact-me-section.section-block h2,
    .contact-me-section.section-block h1{
        @apply bg-[#fdc708c2]
    }
}
html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
